postMarkdownBegin: |
  <div class="post-translate-toolbar" data-post-translate-root>
    <button type="button" class="post-translate-button" data-translate-button aria-live="polite">
      Translate to Chinese
    </button>
    <span class="post-translate-status" data-translate-status></span>
  </div>
